:root {
    --bg: white;
    --fg: rgb(26, 24, 24);
    --color-grey : rgb(128, 128, 128);
}

/* Dark mode */
// @media (prefers-color-scheme: dark) {	
//     :root {
//         --bg: rgb(26, 24, 24);
//         --fg: white;
//     }
// }