@font-face {
    font-family: BaliMoon;
    font-display: swap;
    src: url('./fonts/Balimoon-Regular.woff') format('woff'),
         url('./fonts/Balimoon-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Timeless;
    font-display: swap;
    src: url('./fonts/Timeless.woff') format('woff'),
         url('./fonts/Timeless.ttf') format('truetype');
}

@font-face {
    font-family: Timeless;
    font-display: swap;
    font-weight: bold;
    src: url('./fonts/Timeless-Bold.woff') format('woff'),
         url('./fonts/Timeless-Bold.ttf') format('truetype');
}
