.link {
    display: inline-block;
    >.underline {
        height: 1px;
        background-color: var(--fg);
        width: 100%;
        transition: width .4s ease-in;
        margin-top: -3px;
    }
    &:hover {
        >.underline {
            width: 0%;
        }
    }
}